 <doctype html>
 	<html lang="fr">
 	<head>
 		<meta charset="utf-8">
 		<title>Index</title>
		<link rel="stylesheet" type="text/css" href="../stylesheet/bootstrap-3.3.4/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
 	</head>
 	<body>	
 		<div>
 			<nav class="navbar navbar-default">
 				<div class="container-fluid">
 					<div class="navbar-header">
 						<a class="navbar-brand click-log" data-toggle="modal" data-target="#login">Se connecter</a>
 						<a class="navbar-brand click-log" data-toggle="modal" data-target="#signup">S'inscrire</a>
					</div>
				</div>
			</nav>
		</div>		
		<footer id="footer">
			<div class="row no-margin hide">
				<div class="col-xs-4 col-sm-4">
					<ul>Contact :
						<div>
							<li class="fa fa-phone margin-right-15"></li>03-87-86-35-96
						</div>
						<div>
							<li class="fa position margin-right-15"></li>23 rue du capitol 75002 Paris
						</div>
						<div>
							<li class="fa mail margin-right-15"></li>contact@bnp.com
						</div>
						<div>
							<li><a href="contactForm.html">Nous contacter</a></li>
						</div>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4">
					<ul> Suivez notre actualité
						<div>
							<a target="_blank" href="https://www.facebook.com/mabanque.bnpparibas/"><li class="fa fa-facebook-official margin-right-15"></li> Facebook</a>
						</div>
						<div>
							<a target="_blank" href="https://www.instagram.com/bnpparibas/"><li class="fa fa-instagram margin-right-15"></li> Instagram</a>
						</div>
						<div>
							<a target="_blank" href="https://twitter.com/bnpparibas?lang=fr"><li class="fa fa-twitter margin-right-15"></li> Twitter</a>
						</div>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4">
					<ul> A propos de :
						<li>Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi metu properantes equos velut publicos signatis quod dicitur calceis agitant, familiarium agmina tamquam praedatorios globos post terga trahentes ne Sannione quidem, ut ait comicus, domi relicto. quos imitatae matronae complures opertis capitibus et basternis per latera civitatis cuncta discurrunt.</li>
					</ul>
				</div>
			</div>
			<script src="../jquery/jquery.min.js"></script>
			<script src="../js/bootstrap.js"></script>
			<script src="../js/home.js"></script>
		</footer>
		<!-- MODAL -->
		<div id="login" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div>
						<button type="button" class="close close-cross" data-dismiss="modal">&times;</button>				
					</div>
					<div id="connexion" class="container-fluid">
						<div class="row no-margin">
							<div class="col-xs-12 blueTitle center">
								<h1>Connectez-vous maintenant !</h1>
							</div>
						</div>
						<div class="row no-margin">
							<div class="col-sm-8 col-sm-offset-2">
								<form name="loginForm" class="mg-b-30">
									<div class="form-group mg-b-15">
										<label>Email :</label>
										<input type="text" class="form-control" name="email" placeholder="email..." />
									</div>
									<div class="form-group mg-b-15">
										<label>Mot de passe :</label>
										<input type="password" class="form-control" name="password" placeholder="Mot de passe..." />
									</div>
									<div class="mg-b-30 mg-t-30">
										<input class="btn btn-primary col-xs-12" type="submit" value="Connexion" />
									</div>
								</form>
							</div>
						</div>
						<div class="row no-margin">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="mg-b-30 mg-t-30">
									<input class="btn btn-primary col-xs-12" type="submit" value="Connexion Facebook" />
								</div>
							</div>							
						</div>
						<div class="row no-margin">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="mg-b-30 mg-t-30">
									<input class="btn btn-primary col-xs-12" type="submit" value="Connexion Google" />
								</div>
							</div>							
						</div>
						<div class="row no-margin">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="mg-b-30 mg-t-30">
									<input class="btn btn-primary col-xs-12" type="submit" value="Connexion Twitter" />
								</div>
							</div>							
						</div>
						<div class="row no-margin">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="pg-b-30 mg-b-30 mg-t-30">
									<input class="btn btn-primary col-xs-12" type="submit" value="Connexion Instagram" />
								</div>
							</div>							
						</div>					
					</div>
				</div>
			</div>
		</div>
	</body>
</html>